
body{
    background-color: #86538F;
}

.left {
    flex-direction: column;
    display: flex;
    justify-content: center;

}

.btnOne {
    
    background-color: #dfe6e9;
    font-size: 24px;
    border-radius: 2px;
    color: #86538F;
    padding:5px;
    align-items: center;
    text-align: center;
    width: 200px;
    margin-left: 100px;
}

p{
    width: 400px;
    height: 400px;
    background-color: #dfe6e9;
}

h1 { 
    padding-left: 100px;
}

h2 {
    text-decoration: bold;
    font-size: 28px;
}

main { 
    display: flex;
    justify-content: center;
    width:100%;
    height:100vh;
    
}

button {

    background-color: transparent;
    color: white;
    border-radius: 18px;
    border: 2px solid white;
    padding: 10px;
    height: 40px;
    margin: 3px;
    
}

button:hover {
    background-color: #dfe6e9;
}


button:focus {
    background-color: black;
}

section {
    width: 550px;
    height: 400px;
}

.sectionTwo{
    
    border-top: 2px solid black;
    margin-top: 20px;
    height: 70%;
    flex-direction: column;
}

.btn{

    width: 100%;
    height: 190px;
}


